<ul class="socialprofiles-block">
	{% for name, url in social_links if url is not empty %}
		<li>
			<a href="{{ url }}" data-social="{{ name|lower|replace({' ':'-'}) }}" rel="external,nofollow">
				<span>{{ name }}</span>
			</a>
		</li>
	{% endfor %}
</ul>
